<div class="chat-container">
  <div class="chat">
    <h1>Chat</h1>

    <form class="chat-form">
      <input type="text" class="name-input" placeholder="Nombre" required>
      <input type="email" class="email-input" placeholder="Correo electrónico" required>
      <input type="text" class="message-input" placeholder="Mensaje" disabled>
      <button type="submit" class="send-button" disabled>Enviar</button>
    </form>

    <div class="message-box">
    </div>
  </div>
</div>

<div class="boton-footer">
  <a href="/realtimeproducts" class="btn btn-primary">Agregar producto</a>
  <a href="/tienda" class="btn btn-primary">Tienda online</a>
  
</div>