body {
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

.formularioProducto {
    max-width: 300px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.titulo {
    text-align: center;
  }
  
  .listaProductos {
    padding-left: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
   
  }
  
  th {
    background-color: #f2f2f2;
  }

  .boton-footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .tiempo-real {
    padding-left: 100px;
  }
  

  .delete-icon {
    cursor: pointer;
  }
  
  .delete-icon:hover {
    cursor: pointer;
  }
  

  .img-small {
  max-width: 20px;
  max-height: 20px;
}

.store-view {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card {
  background-color: #f0efef;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc; 
  margin-left: 150px;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.footer button {
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.footer button:hover {
  background-color: #45a049;
}

.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 15px;
  width: 500px;
}

h1 {
  text-align: center;
}

.chat-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input[type="text"]:disabled,
input[type="email"]:disabled {
  background-color: #ccc;
}

.send-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.message-box {
  border: 1px solid #ccc;
  padding: 10px;
  height: 200px;
  overflow-y: scroll;
}

.chat-message {
  margin-bottom: 10px;
}

.chat-name {
  font-weight: bold;
}

.chat-content {
  margin-left: 10px;
}

.message-email{
  font-size: 17px;
  color: #000000;
}

.store-container {
  position: relative;
  text-align: center;
}

.store-title {
  margin-top: 20px;
}

.icon-imag {
  max-width: 70px;
  max-height: 70px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cart-icon {
  position: fixed;
  top: 0;
  right: 0;
}

.brand-name {
  margin-top: 20px;
}

.products-for-sale {
  margin-top: 20px;
}


.boton-footer {
  text-align: center;
  margin-top: 20px;
}
