<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./main.css">
    <title>Segunda Entrega</title>
</head>
<body>
  <div class="empresa">
    Nombre de la Empresa
    <button class="carrito">Carrito</button>
  </div>
  <div class="linea"></div>
  <div class="menu">
    <select name="categoria">
      <option value="todo">Todo</option>
      <option value="luminaria">luminaria</option>
      <option value="perifericos">perifericos</option>
    </select>
    <select name="orden">
        <option value="0">ordenar</option>
      <option value="1">Ascendente</option>
      <option value="-1">Descendente</option>
    </select>
    <select name="pendiente">
      <option value="pendiente1">Pendiente 1</option>
      <option value="pendiente2">Pendiente 2</option>
      <option value="pendiente3">Pendiente 3</option>
    </select>
  </div>
    {{{ body }}}
    <script src="./main.js" type="module"></script>
</body>
</html>